################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Smart-ID/.vs/ProjectEvaluation/smart-id.metadata.v5.1
/Smart-ID/.vs
